:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainRed:#F64A4A;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  background-image: url(http://getwallpapers.com/wallpaper/full/7/f/9/836421-draven-wallpapers-2560x1440-for-tablet.jpg) !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--mainRed);
}

.text-red {
  color: var(--mainRed);
}

.text-white{
  color: var(--mainWhite);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black{
background: transparent;
text-transform: capitalize;
font-size: 0.8rem !important;
color:var(--mainDark);
border-radius: 0 !important;
border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color:var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow) !important;
}

.background{
  background-color: var(--mainDark);
  padding: 1rem;
  border-radius: 0.3rem;
}

.cmodal{
  padding-bottom: 1rem;
}

.cborder{
  border-radius: 1rem;
}

.cfont{
  font-size: 1.4rem;
}